.button {
  width: max-content;
  margin-top: 10px;
  padding: 5px 10px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  color: #111111;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

.light {
  background: linear-gradient(to bottom, #f2f3f5, #dbdee3);
  border-color: #c5c5c5 #a3a3a1 #87888a;
}

.fullWidth {
  width: 100%;
}
